.wrapper-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(255, 255, 255, 1);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    width: 28%;
    height: 314px;
}

.wrapper-list-item h2 {
    margin: 0;
}

.list-item-title {
    padding-bottom: 12px;
    color: rgba(38, 44, 64, 1);
    font-weight: 700;
}

.list-item-info {
    display: flex;
    gap: 14px;
    flex-direction: row;
    align-items: center;

    color: rgba(129, 137, 163, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

